// fonts
$font-primary: 'Nunito Sans Regular', Arial, Helvetica, sans-serif;
$font-banner: 'NEXT ART Bold', Arial, Helvetica, sans-serif;
$font-section-title: 'Nunito Sans ExtraBold', Arial, Helvetica, sans-serif;
$font-card-title: 'Nunito Sans Bold', Arial, Helvetica, sans-serif;
$font-link: 'Nunito Sans SemiBold', Arial, Helvetica, sans-serif;
$font-form: 'Nunito Sans Light', Arial, Helvetica, sans-serif;

// colors
$accent-primary: #1a3e3e;
$accent-secondary: #f2be22;
$background: #f3f5f4;
$blur: rgba(255, 255, 255, .2);
$blur-star: rgba(255, 255, 255, .4);
$error: #e13a3a;
$main: #18121e;
$overlay: rgba(26, 62, 62, .5);
$shadow: rgba(0, 0, 0, .25);
$transparent: rgba(255, 255, 255, .5);
$white: #fdfdfd;
