// fonts
$font-primary: 'Nunito Sans Regular', Arial, Helvetica, sans-serif;
$font-banner: 'NEXT ART Bold', Arial, Helvetica, sans-serif;
$font-section-title: 'Nunito Sans ExtraBold', Arial, Helvetica, sans-serif;
$font-card-title: 'Nunito Sans Bold', Arial, Helvetica, sans-serif;
$font-link: 'Nunito Sans SemiBold', Arial, Helvetica, sans-serif;
$font-form: 'Nunito Sans Light', Arial, Helvetica, sans-serif;

// colors
$main: #18121e;
$white: #fdfdfd;
$accent-primary: #1a3e3e;
$accent-secondary: #f2be22;
$blur: rgba(255, 255, 255, .2);
$transparent: rgba(255, 255, 255, .5);
$background: #d9d9d9;
$shadow: rgba(0, 0, 0, .25);