.calendar {
  position: relative;

  &__label {
    @include form-selection;
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__input {
    width: 100%;
    min-height: 54px;
    box-sizing: border-box;
    padding: 14px 30px 14px 14px;
    border: 1px solid $white;
    border-radius: 8px;
    background-color: transparent;
    outline: none;
    @include form-selection;
    cursor: pointer;

    &:focus {
      border: 1px solid $accent-secondary;
    }
  }

  &__svg {
    z-index: -1;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translate(0, -50%);
  }
}

@media screen and (max-width: 1260px) {
  .calendar__label {
    font-family: $font-link;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
  }

  .calendar__input {
    display: flex;
    font-family: $font-link;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
  }
}

[data-calendar-theme=light] .vanilla-calendar-month, .vanilla-calendar-year {
  font-family: $font-card-title;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: $main;
}

[data-calendar-theme=light] .vanilla-calendar-arrow {
  color: $main;
}

[data-calendar-theme=light] .vanilla-calendar-week__day {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $accent-secondary;
}

[data-calendar-theme=light] .vanilla-calendar-day {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

[data-calendar-theme=light] .vanilla-calendar-day__btn_today {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  color: $accent-primary;

  &:hover {
    color: $accent-primary;
  }
}

[data-calendar-theme=light] .vanilla-calendar-day__btn_selected, [data-calendar-theme=light] .vanilla-calendar-day__btn_selected:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(26 62 62 / var(--tw-bg-opacity));
  color: $white;
}

[data-calendar-theme=light] .vanilla-calendar-day_selected-intermediate .vanilla-calendar-day__btn_selected, [data-calendar-theme=light] .vanilla-calendar-day_selected-intermediate .vanilla-calendar-day__btn_selected:hover {
  --tw-bg-opacity: .7;
  background-color: rgb(26 62 62 / var(--tw-bg-opacity));
  color: $white;
}

[data-calendar-theme=light] .vanilla-calendar-months__month {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

[data-calendar-theme=light] .vanilla-calendar-months__month.vanilla-calendar-months__month_selected, [data-calendar-theme=light] .vanilla-calendar-months__month.vanilla-calendar-months__month_selected:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(26 62 62 / var(--tw-bg-opacity));
  color: $white;
}

[data-calendar-theme=light] .vanilla-calendar-years__year {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

[data-calendar-theme=light] .vanilla-calendar-years__year.vanilla-calendar-years__year_selected, [data-calendar-theme=light] .vanilla-calendar-years__year.vanilla-calendar-years__year_selected:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(26 62 62 / var(--tw-bg-opacity));
  color: $white;
}
