.program {
  background-color: $blur;
  backdrop-filter: blur(6px);
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: all 1s ease-in-out;

  &__info {
    display: grid;
    grid-template-areas:
    "title price"
    "subtitle price";
    column-gap: 35px;
    row-gap: 4px;
  }

  &__title {
    grid-area: title;
    font-family: $font-card-title;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: $white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__subtitle {
    grid-area: subtitle;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $white;
    text-transform: lowercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__price {
    grid-area: price;
    align-self: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 16px;
    background-color: $blur;
    box-shadow: 0 4px 4px 0 $shadow;
    font-family: $font-card-title;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $white;
  }

  &__wrap {
    min-height: 216px;
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $white;
  }

  &__button {
    margin-top: 65px;
    max-width: 186px;
  }
}

@media screen and (max-width: 1024px) {
  .program__info {
    grid-template-areas:
    "title price"
    "title price";
    column-gap: 24px;
  }

  .program__title {
    align-self: center;
  }

  .program__subtitle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .program__title {
    font-size: 18px;
  }

  .program__text {
    font-size: 14px;
    line-height: normal;
  }

  .program__price {
    padding: 6px 12px;
    font-size: 16px;
    line-height: 18px;
  }

  .program__button {
    margin-top: 0;
  }
}
