.swiper {
  display: none;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet-active {
  background: $accent-secondary;
}

.swiper-button-next,
.swiper-button-prev {
  color: $accent-secondary;
}
