.header {
  margin: 0 auto -104px;
  max-width: 1180px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 137px;
    height: 72px;
  }

  &__nav {
    display: flex;
    align-self: center;
    gap: 48px;
  }

  &__menu {
    @include list-style-none;
    display: flex;
    align-self: center;
    gap: 24px;
  }

  &__link {
    @include header-link;
  }

  &__button {
    max-width: 157px;
  }
}
