div.dropdown
  button.dropdown__button select-label
  ul.dropdown__list.dropdown__scroll
    li.dropdown__item(data-value = 'value1') select-option1
    li.dropdown__item(data-value = 'value2') select-option2
    li.dropdown__item(data-value = 'value3') select-option3
    li.dropdown__item(data-value = 'value4') select-option4
    li.dropdown__item(data-value = 'value5') select-option5
  input#inputId.dropdown__input(name='input-name' type='text' required)
