.offer {
  background-color: $background;
  padding-top: 80px;
  padding-bottom: 100px;

  &__container {
    @include section-indent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  &__info {
    max-width: 590px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__list {
    @include list-style-none;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__svg {
    grid-area: svg;
    align-self: center;
    width: 50px;
    height: 50px;
  }

  &__item {
    display: grid;
    grid-template-areas:
    "svg title"
    "svg text";
    column-gap: 10px;
    row-gap: 4px;

    &_title {
      grid-area: title;
      font-family: $font-card-title;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      color: $main;
      letter-spacing: .216px;
    }

    &_text {
      grid-area: text;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $main;
    }
  }

  &__button {
    max-width: 236px;
  }

  &__images {
    max-width: 510px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }

  &__img {
    width: 250px;
    height: 250px;
    box-shadow: 0 4px 4px 0 $shadow;

    &_border_top-right {
      border-top-right-radius: 20%;
      border-bottom-left-radius: 20%;
    }

    &_border_top-left {
      border-top-left-radius: 20%;
      border-bottom-right-radius: 20%;
    }
  }
}
