mixin item(svg, title, text)
  li.offer__item
    +svg(svg).offer__svg
    h4.offer__item-title= title
    p.offer__item-text= text

section.offer
  div.offer__container
    div.offer__info
      +section-title('Наше предложение', 'Лучшие программы для тебя')
      p.offer__text
        | Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э.,
        | то&nbsp;есть более двух тысячелетий назад.
        | Ричард МакКлинток, профессор латыни из&nbsp;колледжа.
      ul.offer__list
        +item(
          'guide',
          'Опытный гид',
          'Для современного мира базовый вектор развития предполагает независимые ' +
          'способы реализации соответствующих условий активизации.')
        +item(
          'safety',
          'Безопасный поход',
          'Для современного мира базовый вектор развития предполагает независимые ' +
          'способы реализации соответствующих условий активизации.')
        +item(
          'price',
          'Лояльные цены',
          'Для современного мира базовый вектор развития предполагает независимые ' +
          'способы реализации соответствующих условий активизации.')
      a.btn.btn_primary.offer__button(href='#') Стоимость программ
    div.offer__images
      +img('./img/offer_1.jpg', 'Фото наших путешествий').offer__img.offer__img_border_top-right
      +img('./img/offer_2.jpg', 'Фото наших путешествий').offer__img.offer__img_border_top-left
      +img('./img/offer_3.jpg', 'Фото наших путешествий').offer__img.offer__img_border_top-left
      +img('./img/offer_4.jpg', 'Фото наших путешествий').offer__img.offer__img_border_top-right