.offer {
  background-color: $background;
  padding: 80px 0 100px;

  &__container {
    @include section-on-page;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  &__info {
    display: grid;
    grid-template-columns: minmax(min-content, 590px);
    row-gap: 40px;
  }

  &__title {
    align-items: start;
  }

  &__text {
    @include section-text;
  }

  &__list {
    @include list-style-none;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__svg {
    grid-area: svg;
    align-self: center;
    max-width: 50px;
    width: 100%;
    aspect-ratio: 1;
  }

  &__item {
    display: grid;
    grid-template-areas:
    "svg title"
    "svg text";
    column-gap: 10px;
    row-gap: 4px;
  }

  &__item-title {
    grid-area: title;
    font-family: $font-card-title;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: $main;
  }

  &__item-text {
    grid-area: text;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $main;
  }

  &__button {
    max-width: 236px;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 250px));
    gap: 10px;
  }

  &__img {
    background-color: $accent-primary;
    aspect-ratio: 1;
    box-shadow: 0 4px 4px 0 $shadow;

    &_border_top-right {
      border-top-right-radius: 20%;
      border-bottom-left-radius: 20%;
    }

    &_border_top-left {
      border-top-left-radius: 20%;
      border-bottom-right-radius: 20%;
    }
  }
}

@media screen and (max-width: 1260px) {
  .offer__container {
    gap: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .offer {
    padding: 50px 0 50px;

    &__button {
      justify-self: center;
    }

    &__images {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .offer__info {
    row-gap: 32px;
  }

  .offer__text {
    font-size: 16px;
  }
}
