div.menu
  div.menu__container
    div.menu__header
      button.menu__button(type='button' aria-label='Закрыть меню' aria-expanded='true')
        +svg('close').menu__svg
    ul.menu__list
      +link-item('Про гида', '#about').menu__link
      +link-item('Программа тура', '#popular').menu__link
      +link-item('Стоимость', '#offer').menu__link
      +link-item('Блог', '#blog').menu__link
      +link-item('Контакты', '#footer').menu__link
div.overlay