.card {
  overflow: hidden;
  border-radius: 32px;
  max-width: 380px;
  max-height: 500px;

  &__img {
    aspect-ratio: 380 / 500;
  }
}

@media screen and (max-width: 390px) {
  .card {
    max-width: 285px;
    max-height: 400px;

    &__img {
      aspect-ratio: 285 / 400;
    }
  }
}
