.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  outline-color: transparent;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;

  &:disabled {
    pointer-events: none;
  }

  &_primary {
    background-color: $accent-primary;
    color: $white;
    font-family: $font-link;
    font-weight: 600;

    &:hover,
    &:focus {
      background-color: $white;
      color: $accent-primary;
      border: 1px solid $accent-primary;
    }
  }

  &_secondary {
    background-color: $white;
    color: $accent-primary;
    font-family: $font-card-title;
    font-weight: 700;

    &:hover,
    &:focus {
      background-color: $accent-primary;
      color: $white;
      font-family: $font-link;
      font-weight: 600;
    }
  }
}
