include ../../../views/helpers/mixins

section.blog
  div.blog__container
    +section-title('Делимся впечатлениями', 'Блог о путешествиях').blog__title
    div.blog__list
      +blog-card(
        './img/blog_1.jpg',
        'Красивая Италия, какая она в реальности?',
        '02/04/2023',
        'Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.'
      )
      +blog-card(
        './img/blog_2.jpg',
        'Долой сомнения! Весь мир открыт для вас!',
        '02/04/2023',
        'Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации. Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации. Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации. Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.'
      )
      +blog-card(
        './img/blog_3.jpg',
        'Как подготовиться к путешествию в одиночку?',
        '01/04/2023',
        'Для современного мира базовый вектор развития предполагает.'
      )
      +blog-card(
        './img/blog_4.jpg',
        'Индия ... летим?',
        '01/04/2023',
        'Для современного мира базовый.'
      )
    a.btn.btn_primary.blog__button(href='#') Другие материалы