section#blog.blog
  div.blog__container.page__container
    +section-title('Делимся впечатлениями', 'Блог о путешествиях').blog__title
    ul.blog__list
      +blog-card(
        './img/blog/blog_1',
        'Красивая Италия, какая она в реальности?',
        '02/04/2023',
        'Для современного мира базовый вектор развития предполагает.')
      +blog-card(
        './img/blog/blog_2',
        'Долой сомнения! Весь мир открыт для вас!',
        '02/04/2023',
        'Для современного мира базовый вектор развития предполагает ' +
        'независимые способы реализации соответствующих условий активизации. ' +
        'Для современного мира базовый вектор развития предполагает ' +
        'независимые способы реализации соответствующих условий активизации. ' +
        'Для современного мира базовый вектор развития предполагает ' +
        'независимые способы реализации соответствующих условий активизации. ' +
        'Для современного мира базовый вектор развития предполагает ' +
        'независимые способы реализации соответствующих условий активизации.')
      +blog-card(
        './img/blog/blog_3',
        'Как подготовиться к путешествию в одиночку?',
        '01/04/2023',
        'Для современного мира базовый вектор развития предполагает ' +
        'независимые способы реализации соответствующих условий активизации. ')
      +blog-card(
        './img/blog/blog_4',
        'Индия ... летим?',
        '01/04/2023',
        'Для современного мира базовый.')

    div.swiper.blog__swiper
      ul.swiper-wrapper.blog__wrap
        +blog-card(
          './img/blog/blog_1',
          'Красивая Италия, какая она в реальности?',
          '02/04/2023',
          'Для современного мира базовый вектор развития предполагает.').swiper-slide
        +blog-card(
          './img/blog/blog_2',
          'Долой сомнения! Весь мир открыт для вас!',
          '02/04/2023',
          'Для современного мира базовый вектор развития предполагает ' +
          'независимые способы реализации соответствующих условий активизации. ' +
          'Для современного мира базовый вектор развития предполагает ' +
          'независимые способы реализации соответствующих условий активизации. ' +
          'Для современного мира базовый вектор развития предполагает ' +
          'независимые способы реализации соответствующих условий активизации. ' +
          'Для современного мира базовый вектор развития предполагает ' +
          'независимые способы реализации соответствующих условий активизации.').swiper-slide
        +blog-card(
          './img/blog/blog_3',
          'Как подготовиться к путешествию в одиночку?',
          '01/04/2023',
          'Для современного мира базовый вектор развития предполагает ' +
          'независимые способы реализации соответствующих условий активизации. ').swiper-slide
        +blog-card(
          './img/blog/blog_4',
          'Индия ... летим?',
          '01/04/2023',
          'Для современного мира базовый.').swiper-slide
      div.swiper-button-prev
      div.swiper-button-next

    a.btn.btn_primary.blog__button(href='#') Другие материалы