.blog {
  background-color: $background;
  padding-top: 80px;
  padding-bottom: 100px;

  &__container {
    @include section-on-page;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__title {
    text-align: center;
  }

  &__list {
    max-width: 1180px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__button {
    margin-top: 10px;
    max-width: 220px;
  }
}

@media screen and (max-width: 768px) {
  .blog__container {
    align-items: start;
    gap: 32px;
  }

  .blog__title {
    align-items: start;
    text-align: start;
  }

  .blog__button {
    margin-top: 0;
    align-self: center;
  }
}
