.blog {
  background-color: $background;

  &__container {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title {
    text-align: center;
  }

  &__list {
    @include list-style-none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__button {
    margin-top: 10px;
    max-width: 220px;
    align-self: center;
  }
}

@media screen and (max-width: 1024px) {
  .blog__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .blog__list {
    display: none;
  }

  .blog__swiper {
    display: block;
  }

  .blog__wrap {
    @include list-style-none;
  }
}

@media screen and (max-width: 768px) {
  .blog__container {
    gap: 32px;
  }

  .blog__title {
    align-items: start;
    text-align: start;
  }

  .blog__button {
    margin-top: 0;
  }
}
