.blog-card {
  background-color: $white;
  width: calc(50% - 10px);
  box-sizing: border-box;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 $shadow;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  column-gap: 24px;
  overflow: hidden;
  cursor: pointer;

  &:hover .blog-card__title {
    color: $accent-primary;
    text-decoration: underline 1px solid;
    text-underline-position: under;
  }

  &__img {
    background-color: $accent-primary;
    aspect-ratio: 23 / 28;
    border-radius: 6px;
  }

  &__info {
    height: 100%;
    box-sizing: border-box;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: $font-card-title;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(20px, 2vw, 24px);
    line-height: clamp(26px, 2vw, 32px);
    color: $main;
  }

  &__wrap {
    flex-grow: 1;
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $main;
  }

  &__more {
    display: flex;
    justify-content: space-between;
    font-family: $font-card-title;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    &_date {
      color: $accent-secondary;
    }

    &_read {
      color: $accent-primary;
      text-transform: lowercase;
    }
  }
}

@media screen and (max-width: 1024px) {
  .blog-card {
    max-width: 285px;
    min-height: 496px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__img {
      height: 280px;
      border-radius: 0;
    }

    &__info {
      padding: 0 16px 16px;
      gap: 16px;
    }

    &__title {
      font-size: 20px;
      line-height: 26px;
    }

    &__text {
      -webkit-line-clamp: 4;
    }
  }
}
