section#about.about
  div.about__images
    +img('./img/about_1.jpg', 'Горы').about__img.about__img_desktop
    div.about__video
      button.about__play(type='button' aria-label='Посмотреть видео')
      +img('./img/about_2.jpg', 'Домик в горах').about__img
  div.about__info
    +section-title(
      'О нашем походе',
      'Исследуйте все горные массивы мира вместе с нами').about__title
    p.about__text
      | Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э.,
      | то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа
      | Hampered-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;conjecture&quot;и
      | занялся его поисками в&nbsp;классической латинской литературе.
    a.btn.btn_primary.about__button(href='#') Программа тура