div.modal.modal__images
  div.modal__container
    button.btn.btn_icon.modal__button(type='button' aria-label='Закрыть окно')
      +svg('close').btn_icon_svg
    div.swiper.modal__swiper
      div.swiper-wrapper
        div.swiper-slide
          +img('./img/photo_1.jpg', 'Каппадокия').modal__img
          div.swiper-lazy-preloader.swiper-lazy-preloader-white
        div.swiper-slide
          +img('./img/photo_2.jpg', 'Карта путешественника').modal__img
          div.swiper-lazy-preloader.swiper-lazy-preloader-white
        div.swiper-slide
          +img('./img/photo_3.jpg', 'Бурдж-эль-Араб').modal__img
          div.swiper-lazy-preloader.swiper-lazy-preloader-white
        div.swiper-slide
          +img('./img/photo_4.jpg', 'Морская бухта').modal__img
          div.swiper-lazy-preloader.swiper-lazy-preloader-white
        div.swiper-slide
          +img('./img/photo_5.jpg', 'Великий каньон').modal__img
          div.swiper-lazy-preloader.swiper-lazy-preloader-white
        div.swiper-slide
          +img('./img/photo_6.jpg', 'Заметки путешественника').modal__img
          div.swiper-lazy-preloader.swiper-lazy-preloader-white
      div.swiper-button-prev.swiper-button-prev_modal
      div.swiper-button-next.swiper-button-prev_modal