extends layouts/default
include helpers/mixins

block variables
    - const title = "РумТибет"

block content
  include ../blocks/modules/intro/intro
  include ../blocks/modules/about/about
  include ../blocks/modules/offer/offer
  include ../blocks/modules/popular/popular
  include ../blocks/modules/blog/blog
  include ../blocks/modules/photo/photo
