.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  &__subtitle {
    @include section-subtitle;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__title {
    @include section-title;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .section-title__subtitle {
    font-size: 16px;
  }

  .section-title__title {
    font-size: 24px;
  }
}
