.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  &__subtitle {
    @include section-subtitle;
    font-size: clamp(16px, 3vh, 24px);
  }

  &__title {
    @include section-title;
    font-size: clamp(24px, 4vh, 32px);
  }
}

@media screen and (max-width: 768px) {
  .section-title__subtitle {
    font-size: 16px;
  }

  .section-title__title {
    font-size: 24px;
  }
}
