.newsletter {

  &__wrap {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1180px;
  }

  &__container {
    background-color: $white;
    margin-bottom: -98px;
    box-sizing: border-box;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border-radius: 6px;
    box-shadow: 0 0 15px 0 $shadow;
  }

  &__title-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__subtitle {
    @include section-subtitle;
    font-size: 18px;
  }

  &__title {
    @include section-title;
    font-size: 26px;

    &_mobile {
      display: none;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(min-content, max-content);
    column-gap: 16px;
    row-gap: 8px;
  }

  &__label {
    grid-column-start: 1;
    font-family: $font-link;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  &__input {
    grid-column-start: 1;
    grid-row-start: 2;
    box-sizing: border-box;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: $background;
    outline-color: transparent;
    font-family: $font-form;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: $main;

    &::placeholder {
      font-family: $font-form;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      color: $main;
    }
  }

  &__button {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  &__caption {
    grid-row-start: 3;
    grid-column: span 2;
    text-transform: lowercase;
    font-family: $font-link;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: $main;
  }

  &__link {
    color: $main;
    text-decoration: underline 1px solid;
    text-underline-position: under;
  }
}

@media screen and (max-width: 1160px) {
  .newsletter {

    &__container {
      padding: 40px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__title {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .newsletter {

    &__container {
      margin-bottom: -139px;
      flex-direction: column;
      gap: 18px;
    }

    &__caption {
      margin-top: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .newsletter {

    &__container {
      margin-bottom: 50px;
      padding: 24px;
    }

    &__title {
      font-size: 24px;
      display: none;

      &_mobile {
        display: block;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__button {
      max-width: 245px;
    }
  }
}
