mixin social(href, title, svg)
  a(href=href target='_blank' aria-label=title)
    +svg(svg).footer__svg

footer.footer
  div.footer__top
    div.footer__container
      div.footer__column.footer__column_company
        h3.footer__title Компания «РумТибет»
        p.footer__text
          | Его корни уходят в один фрагмент классической латыни 45 года н.э.,
          | то есть более двух тысячелетий назад. Ричард МакКлинток,
          | профессор латыни из колледжа Hampered-Sydney.
        div.footer__contacts
          a.footer__text.footer__text_link.link-hover(href='mailto:info@domain.ru') info@domain.ru
          a.footer__text.footer__text_link.link-hover(href='tel:+71234567890') +7 (123) 456-78-90
        div.footer__social-list
          +social('https://web.telegram.org/k/', 'Телеграм', 'telegram')
          +social('https://vk.com/', 'Вконтакте', 'vk')
          +social('https://ru.pinterest.com/', 'Pinterest', 'pinterest')
          +social('https://www.skype.com/ru/', 'Skype', 'skype')
      div.footer__column.footer__column_list_left
        h3.footer__title Наши услуги
        ul.footer__list
          +link-item('Прогулки в горы летом', '#')
          +link-item('Зимние походы в горы', '#')
          +link-item('Посещение храмов в горах', '#')
          +link-item('Экстремальные виды туризма', '#')
          +link-item('Походы в джунглях Амазонии', '#').new
          +link-item('Поездка в Африку', '#')
      div.footer__column.footer__column_list_right
        h3.footer__title Важно для путешествий
        ul.footer__list
          +link-item('Как собраться в долгий поход?', '#')
          +link-item('Жизненно важные предметы для похода', '#')
          +link-item('Медицинская страховка, гарантии безопасности', '#')
          +link-item('Если вы врач - загляните сюда', '#')
  div.footer__bottom
    div.footer__copyright
      p.footer__text
        | ИП Константинопольский К.К., 2024
      a.footer__text.footer__text_link.link-hover(href='./files/privacy-policy.pdf' target='_blank')
        | Политика обработки персональных данных