.footer {
  width: 100%;

  &__top {
    background-color: $accent-primary;
    padding: 178px 16px 80px;
  }

  &__info {
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  &__contact-wrap {
    max-width: 456px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__list-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__list {
    max-width: 280px;
    @include list-style-none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &:hover .footer__svg {
      fill: $accent-secondary;
    }
  }

  &__svg {
    width: 6px;
    height: 10px;
    fill: $white;
    transition: all .5s ease;
  }

  &__bottom {
    background-color: $main;
    padding: 24px 16px;
  }

  &__copyright {
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &__title {
    @include footer-title;
  }

  &__link {
    @include footer-text;
    text-decoration: underline 1px solid;
    text-underline-position: under;
  }

  &__text {
    @include footer-text;
  }
}
