.footer {
  width: 100%;

  &__top {
    background-color: $accent-primary;
    padding: 178px 16px 80px;
  }

  &__container {
    margin: 0 auto;
    max-width: 1180px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 30px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_company {
      grid-column: span 3;
      max-width: 456px;
      width: 100%;
    }

    &_list_left {
      grid-column: 4 / 6;
    }

    &_list_right {
      grid-column: 6 / 8;
    }
  }

  &__contacts {
    margin-top: 60px;
    display: flex;
    gap: 24px;
  }

  &__social-list {
    margin-top: 15px;
    display: flex;
    gap: 16px;
  }

  &__list {
    max-width: 280px;
    width: 100%;
    @include list-style-none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__bottom {
    background-color: $main;
    padding: 24px 16px;
  }

  &__copyright {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &__title {
    @include footer-title;
  }

  &__text {
    @include footer-text;

    &_link {
      text-decoration: underline 1px solid;
      text-underline-position: under;
    }
  }

  &__svg {
    max-width: 27px;
    width: 100%;
    aspect-ratio: 1;
    fill: $white;
    cursor: pointer;
    transition: all .5s ease;

    &:hover {
      fill: $accent-secondary;
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer__container {
    grid-template-rows: repeat(2, auto);
    row-gap: 50px;
    column-gap: 0;
  }

  .footer__column_company {
    grid-column: span 5;
  }

  .footer__column_list_left {
    grid-row-start: 2;
    grid-column: 2 / 4;
  }

  .footer__column_list_right {
    grid-row-start: 2;
    grid-column: 5 / 7;
  }

  .footer__contacts {
    margin-top: 10px;
  }

  .footer__social-list {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .footer__top {
    padding-top: 50px;
    padding-bottom: 80px;
  }

  .footer__column_list_left {
    grid-column: 1 / 4;
  }

  .footer__column_list_right {
    grid-column: 5 / 8;
  }

  .footer__bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__copyright {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
