mixin footer-item(title, href)
  li.footer__item&attributes(attributes)
    +svg('arrowList').footer__svg.footer__svg_marker
    a.footer__text.link-hover(href=href)= title

footer.footer
  div.footer__top
    div.footer__container
      div.footer__column.footer__column_company
        h3.footer__title Компания «РумТибет»
        p.footer__text
          | Его корни уходят в один фрагмент классической латыни 45 года н.э.,
          | то есть более двух тысячелетий назад. Ричард МакКлинток,
          | профессор латыни из колледжа Hampered-Sydney.
        div.footer__contacts
          a.footer__text.footer__text_link.link-hover(href='mailto:info@domain.ru') info@domain.ru
          a.footer__text.footer__text_link.link-hover(href='tel:+71234567890') +7 (123) 456-78-90
        div.footer__social-list
          a(href='https://web.telegram.org/k/' target='_blank' aria-label='Ссылка на телеграм')
            +svg('telegram').footer__svg.footer__svg_social
          a(href='https://vk.com/' target='_blank' aria-label='Ссылка на вконтакте')
            +svg('vk').footer__svg.footer__svg_social
          a(href='https://ru.pinterest.com/' target='_blank' aria-label='Ссылка на пинтерест')
            +svg('pinterest').footer__svg.footer__svg_social
          a(href='https://www.skype.com/ru/' target='_blank' aria-label='Ссылка на скайп')
            +svg('skype').footer__svg.footer__svg_social
      div.footer__column.footer__column_list_left
        h3.footer__title Наши услуги
        ul.footer__list
          +footer-item('Прогулки в горы летом', '#')
          +footer-item('Зимние походы в горы', '#')
          +footer-item('Посещение храмов в горах', '#')
          +footer-item('Экстремальные виды туризма', '#')
          +footer-item('Походы в джунглях Амазонии', '#').new
          +footer-item('Поездка в Африку', '#')
      div.footer__column.footer__column_list_right
        h3.footer__title Важно для путешествий
        ul.footer__list
          +footer-item('Как собраться в долгий поход?', '#')
          +footer-item('Жизненно важные предметы для похода', '#')
          +footer-item('Медицинская страховка, гарантии безопасности', '#')
          +footer-item('Если вы врач - загляните сюда', '#')
  div.footer__bottom
    div.footer__copyright
      p.footer__text
        | ИП Константинопольский К.К., 2024
      a.footer__text.footer__text_link.link-hover(href='./files/privacy-policy.pdf' target='_blank')
        | Политика обработки персональных данных