.intro {
  background-color: $accent-primary;
  background-image: url('../img/intro/banner' + '.jpg');
  background-image: image-set(url('../img/intro/banner' + '.webp') type('image/webp'));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    width: 100%;
    padding-top: 551px;
    padding-bottom: 82px;
    display: flex;
    flex-direction: column;
    gap: 41px;
  }

  &__title {
    font-family: $font-banner;
    font-style: normal;
    font-weight: 800;
    font-size: clamp(22px, 6vw, 50px);
    line-height: 150%;
    letter-spacing: 1px;
    color: $white;
  }
}

@media screen and (max-width: 640px) {
  .intro__container {
    padding-top: 235px;
    padding-bottom: 50px;
    gap: 32px;
  }
}
