div.modal.modal__video
  div.modal__container
    button.btn.btn_icon.modal__button(type='button' aria-label='Закрыть окно' aria-expanded='true')
      +svg('close').btn_icon_svg
    //iframe(
    //  width="560" height="315"
    //  src='https://www.youtube.com/embed/_Z5coMfFloc?si=o5SHkKE0Tg7zdVi6'
    //  title='YouTube video player'
    //  allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
    //  referrerpolicy='strict-origin-when-cross-origin'
    //  allowfullscreen)