div.modal.modal__video
  div.modal__container
    button.btn.btn_icon.modal__button(type='button' aria-label='Закрыть окно' aria-expanded='true')
      +svg('close').btn_icon_svg
    div.modal__content