section#photo.photo
  +section-title(
    'Фото-отчет',
    'Делимся впечатлениями').photo__title
  div.photo__grid
    picture.photo__img.js-photo
      +img('./img/photo_1.jpg', 'Каппадокия')
    picture.photo__img.js-photo
      +img('./img/photo_2.jpg', 'Карта путешественника')
    picture.photo__img.js-photo
      +img('./img/photo_3.jpg', 'Бурдж-эль-Араб')
    picture.photo__img.js-photo
      +img('./img/photo_4.jpg', 'Морская бухта')
    picture.photo__img.js-photo
      +img('./img/photo_5.jpg', 'Великий каньон')
    picture.photo__img.js-photo
      +img('./img/photo_6.jpg', 'Заметки путешественника')

  div.swiper.photo__swiper
    div.swiper-wrapper
      picture.photo__img.js-photo-swiper.swiper-slide
        +img('./img/photo_1.jpg', 'Каппадокия')
      picture.photo__img.js-photo-swiper.swiper-slide
        +img('./img/photo_2.jpg', 'Карта путешественника')
      picture.photo__img.js-photo-swiper.swiper-slide
        +img('./img/photo_3.jpg', 'Бурдж-эль-Араб')
      picture.photo__img.js-photo-swiper.swiper-slide
        +img('./img/photo_4.jpg', 'Морская бухта')
      picture.photo__img.js-photo-swiper.swiper-slide
        +img('./img/photo_5.jpg', 'Великий каньон')
      picture.photo__img.js-photo-swiper.swiper-slide
        +img('./img/photo_6.jpg', 'Заметки путешественника')
    div.swiper-button-prev
    div.swiper-button-next

  a.btn.btn_primary.photo__button(href='#') Наш pinterest