section#photo.photo.page__container
  +section-title(
    'Фото-отчет',
    'Делимся впечатлениями').photo__title
  ul.photo__grid
    li.photo__img.js-photo
      +picture('./img/photo/photo_1', 'Каппадокия')
    li.photo__img.js-photo
      +picture('./img/photo/photo_2', 'Карта путешественника')
    li.photo__img.js-photo
      +picture('./img/photo/photo_3', 'Бурдж-эль-Араб')
    li.photo__img.js-photo
      +picture('./img/photo/photo_4', 'Морская бухта')
    li.photo__img.js-photo
      +picture('./img/photo/photo_5', 'Великий каньон')
    li.photo__img.js-photo
      +picture('./img/photo/photo_6', 'Заметки путешественника')

  div.swiper.photo__swiper
    ul.swiper-wrapper.photo__swiper-wrapper.photo__swiper-wrapper_bottom
      li.photo__img.js-photo-swiper.swiper-slide
        +picture('./img/photo/photo_1', 'Каппадокия')
      li.photo__img.js-photo-swiper.swiper-slide
        +picture('./img/photo/photo_2', 'Карта путешественника')
      li.photo__img.js-photo-swiper.swiper-slide
        +picture('./img/photo/photo_3', 'Бурдж-эль-Араб')
      li.photo__img.js-photo-swiper.swiper-slide
        +picture('./img/photo/photo_4', 'Морская бухта')
      li.photo__img.js-photo-swiper.swiper-slide
        +picture('./img/photo/photo_5', 'Великий каньон')
      li.photo__img.js-photo-swiper.swiper-slide
        +picture('./img/photo/photo_6', 'Заметки путешественника')
    div.swiper-pagination

  a.btn.btn_primary.photo__button(href='#') Наш pinterest